<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="3333" />
    <add key="Host" value="foyoung.f3322.net"/>
    <add key="Password" value="123456xx"/>
    <add key="DataSize" value="512"/>
  </appSettings>
  <connectionStrings>
    <add name="cnn" connectionString="server=116.62.103.98,1438;database=uav_foyoung;user id=foyoung;password=vlp@foyoung;" />
  </connectionStrings>
</configuration>